<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dalimatt.launchAlfredPrefs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C209136F-4EAA-479C-A5FD-03EC1F81D983</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9F4B4F0-CBEA-46C7-869C-1DF1231EED26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6039296-A630-4A45-B410-0AA10406763A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9F4B4F0-CBEA-46C7-869C-1DF1231EED26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Schubert</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch Alfred Preferences</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>activate application "Alfred Preferences"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D9F4B4F0-CBEA-46C7-869C-1DF1231EED26</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C209136F-4EAA-479C-A5FD-03EC1F81D983</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>preferences</string>
				<key>subtext</key>
				<string>PLACE OF INTEREST SIGN
⌘ + ,</string>
				<key>text</key>
				<string>Alfred Preferences</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6039296-A630-4A45-B410-0AA10406763A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>C209136F-4EAA-479C-A5FD-03EC1F81D983</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D6039296-A630-4A45-B410-0AA10406763A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D9F4B4F0-CBEA-46C7-869C-1DF1231EED26</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dalimatt</string>
</dict>
</plist>
