<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dalimatt.launchAlfredPrefs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C209136F-4EAA-479C-A5FD-03EC1F81D983</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45F3C001-E120-42B2-A953-6BEF7F98CC2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Matt Schubert</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch Alfred Preferences</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>preferences alfred</string>
				<key>runningsubtext</key>
				<string>Please wait, opening preferences</string>
				<key>script</key>
				<string>tell application "System Events"	if exists process "Alfred Preferences" then		tell process "Alfred Preferences"			set frontmost to true		end tell	else		tell application "System Events" to keystroke "," using {command down}
	end ifend tell</string>
				<key>subtext</key>
				<string>⌘ + ,</string>
				<key>title</key>
				<string>Alfred Preferences</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45F3C001-E120-42B2-A953-6BEF7F98CC2D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C209136F-4EAA-479C-A5FD-03EC1F81D983</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>45F3C001-E120-42B2-A953-6BEF7F98CC2D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C209136F-4EAA-479C-A5FD-03EC1F81D983</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/dalimatt</string>
</dict>
</plist>
